  @import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url(RPS\ game\ Background.png);
    background-size: cover;
}

.top-details {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.player-name {
    margin: 100px;
    color: black;
    font-family: 'Rubik Glitch', system-ui;
    font-size: 80px;
    margin-top: 10px;
}
.results {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 350px 400px 0;
}
.player-move {
    transform: rotate(90deg);
    font-size: 150px;
}
.show1 {
    color: black;
    background-color: white;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show2 {
    background-color: tan;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black ;
    box-shadow: 0 0 0px 0px white;
    transition: all 0.3s;
}
.show2:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 15px 5px gainsboro;
}
.show2:hover .icons {
    font-size: 70px;
}
.show2:active .icons {
    font-size: 50px;
}
.choices {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    background: rgb(122,121,121);
    background: linear-gradient(90deg, rgba(122,121,121,1) 5%, rgba(233,233,233,1) 48%, rgba(122,121,121,1) 100%);
}
.icons {
    color: white;
    font-size: 50px;
    transition: all 0.3s;
}
.no-show {
    display: none;
}
@media  (max-width:1700px) {
    .results {
        margin: 300px 400px 0;
    }
}
@media  (max-width:1600px) {
    .results {
        margin: 200px 400px 0;
    }
}
@media  (max-width:1450px) {
    .results {
        margin: 100px 300px 0;
    }
}
@media  (max-width:1350px) {
    .results {
        margin-top: 50px ;
        transform: translateX(80px);
        justify-content: center;
    }
}
@media  (max-width:1250px) {
    .results {
        margin-top: 50px ;
        transform: translateX(110px);
        justify-content: center;
    }
}
@media  (max-width:1150px) {
    .results {
        margin-top: 50px ;
        transform: translateX(180px);
        justify-content: center;
    }
    .player-move {
        transform: rotate(0deg);
        font-size: inherit;
    }
}
@media  (max-width:1100px) {
    .no-show {
        display: inline;
    }
    .top-details {
        display: none;
    }
    .player-name {
        color: black;
        font-family: 'Rubik Glitch', system-ui;
        font-size: 40px;
        margin-top: 0px;
        margin: 0;
        padding: 0;
    }
    .results {
        justify-content: start;
        transform: translate(40px);
        align-items: start;
        width: 100%;
        margin: 0 auto;
        gap: 10px;
    }
    .show1 {
        color: black;
        background-color: white;
        border: 5px solid black;
        border-radius: 0;
        width: 30vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .player-move {
        transform: rotate(0deg);
        font-size: inherit;
        font-size: 70px;
    }
    body {
        background-image: url(RPS\ game\ wall-01.png);
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: space-between;
        align-items: last first baseline;
    }
}
@media  (max-width:710px) {
    .results {
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        margin: 0 auto;
        padding: 0;
    }
    .show1 {
        width: 80%;
    }
    .no-show {
        font-size: 30px;
    }
}

